<%= form_for([:admin, @staff_benefit]) do |f| %>

  <%= f.error_messages %>

  <%= field_set_tag 'Basic' do -%>
    
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    
    <div class="field">
      <%= f.label :image %><br />
      <%= f.image_field :image %>
    </div>
    
    <div class="field">
      <%= f.label :details %><br />
      <%= f.text_area :details, :class => "tinymce" %>
    </div>
    
    <div class="field">
      <%= f.label :display %><br />
      <%= f.check_box :display, :checked => true %>
    </div>
    
  <% end -%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>					
