<% begin %>
  <% cache "twitter_side_email", :expires_in => 600  do %>
      <% Twitter.user_timeline("CarePlusGroup", :count => 1).each_with_index do |tweet, index| %>
        
        <% unless tweet.retweeted_status.blank? %>          
          <p>
            <%= raw email_scan_for_links(tweet.retweeted_status.text) %>
          </p>
          
          <p>
            <%= link_to "#{ tweet.created_at.strftime('%d %b %Y %H:%M') }", "https://www.twitter.com/#{ tweet.user.screen_name }/statuses/#{ tweet.id }", :target => "_blank", :class => "time", :style => "color: #f199b0; text-decoration: underline;" %>
          </p>
        <% else %>          
          <p>
            <%= raw email_scan_for_links(tweet.text) %>
          </p>
          
          <p>
            <%= link_to "#{ tweet.created_at.strftime('%d %b %Y %H:%M') }", "https://www.twitter.com/#{ tweet.user.screen_name }/statuses/#{ tweet.id }", :target => "_blank", :class => "time", :style => "color: #f199b0; text-decoration: underline;" %>
            </p>
        <% end %>
        
      <% end %>
  <% end %>
<% rescue Twitter::Error => e %>
  <%= "Twitter broke due to: #{e}" %>
  <p>Twitter is not responding</p>
<% end %>