<section class="internal-content background-image-none border-bottom-0">
  <div class="inner">
    <h1 class="item-header">
      <span><%= @award.title %></span>
    </h1>
  </div>
</section>

<section class="internal-content border-top-0">
  <div class="inner">
    <div class="information">
      <% unless notice.blank? %>
        <p id="flash_notice"><%= notice %></p>
      <% end %>
    
      <%= raw @award.description %>
      
      <% if @award.mode == 'Nomination' %>
        <%= render "nomination_mode" %>
      <% elsif @award.mode == 'Voting' %>
        <%= render "voting_mode" %>      
      <% elsif @award.mode == 'Awarded' %>
        <%= render "awarded_mode" %>
      <% end %>
      
      <%= link_to 'View all awards', awards_path, :class => "back-link" %>      
    </div>
    
    <div class="sidebar">      
      <% unless @award.image.blank? %>
        <%= image_tag @award.image.show, :alt => @award.title, :class => "image-right" %>
      <% else %>
        <%= image_tag "award-image-large.png", :alt => @award.title, :class => "image-right" %>
      <% end %>
    </div>    
  </div>
</section>
