<p id="notice"><%= notice %></p>

<p>
  <b>Award:</b>
  <%= @award_vote.award %>
</p>

<p>
  <b>Nomination:</b>
  <%= @award_vote.nomination %>
</p>

<p>
  <b>User:</b>
  <%= @award_vote.user %>
</p>


<%= link_to 'Edit', edit_award_vote_path(@award_vote) %> |
<%= link_to 'Back', award_votes_path %>
