<div class="blog-entry">
  <div class="blog-details">
    <div class="published-information">
      <h2>
        <%= link_to blog_article.title,
            blog_article, :title => blog_article.title, :class => 'title' %>
      </h2>

      <div class="date">
        <%= l(blog_article.date_published, :format => :long) %>
      </div>

      <div class="published">
        Published

        <% if blog_article.blog_author.present? %>
          by
          <%= link_to blog_article.blog_author_name,
              blog_authors_path(anchor: blog_article.blog_author_name) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="blog-preview">
    <%= link_to (image_tag blog_article.image.index, :alt => "#{blog_article.title} #{"- " + blog_article.service.title if blog_article.service.present?}"),
        blog_article, title: blog_article.title, :class => 'preview-image' if blog_article.image.present? %>

    <%= raw blog_article.summary %>

    <p><%= link_to "Read more >>", blog_article, :title => blog_article.title %></p>
  </div>
</div>
