<div class="half-form">
<%= form_for @report_facility do |f| %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report_facility.errors.count, "error") %> stopped this form being submitted:</h2>
      
      <ul>
        <% for message in f.object.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </div>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :building_name %>
    <%= f.text_field :building_name %>
  </div>
  
  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message, :rows => 10 %>
  </div>
  
  <div class="actions">
    <%= f.submit "Send", :class => "highlight-button", :data => { :disable_with => "Please wait..." } %>
  </div>
<% end %>
</div>
