<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Care Plus Group</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body alink="#1b445c" link="#1b445c" vlink="#1b445c" topmargin="0" leftmargin="0" rightmargin="0" marginwidth="0" marginheight="0" style="margin: 0px; background-color: #ffffff;">

<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
	  <td height="25" colspan="2" align="left" valign="top">&nbsp;</td>
  </tr>
	<tr>
	  <td colspan="2" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
	    <tr>
	      <td rowspan="2"><a href="#" target="_blank">                  <%= absolute_image_tag 'logo.jpg', {
                        :alt => "NHS Care Plus - Provider of Choice",
                        :width => "173",
                        :height => "64",
                        :style => "display:block;",
                        :border => "0"
                      } %></a></td>
	      <td align="right" style="font-family: Arial, sans-serif; color: #a41984; font-size: 24px; line-height: 22px; font-weight: bold; padding-bottom: 10px;"><span style="font-weight: normal; font-size: 14px;">Telephone:</span><br />01472 266999</td>
	      </tr>
	    <tr>
	      <td align="right"><table width="80" border="0" cellspacing="0" cellpadding="0">
	        <tr>
	          <td width="40" align="center"><a href="#" target="_blank">
						<%= link_to((absolute_image_tag 'twitter.png', {
                        :alt => "Twitter",
                        :width => "32",
                        :height => "31",
                        :style => "display:block;",
                        :border => "0"
                      }), 'https://twitter.com/careplusgroup') %></a></td>
	          <td width="40" align="center">
						<%= link_to((absolute_image_tag 'facebook.png', {
                        :alt => "Facebook",
                        :width => "32",
                        :height => "31",
                        :style => "display:block;",
                        :border => "0"
                      }), 'https://www.facebook.com/careplusgroup'); %></a></td>
	          </tr>
	        </table></td>
	      </tr>
    </table></td>
  </tr>
	<tr>
	  <td height="20" colspan="2" align="left" valign="top">&nbsp;</td>
  </tr>
	<tr>
	  <td colspan="2" align="center" bgcolor="#a41984" style="padding: 10px 0px 10px 0px;"><table border="0" cellspacing="0" cellpadding="0">
	    <tr>
	      <td><%= absolute_image_tag 'email-title-left.png', {
                        :alt => " ",
                        :width => "31",
                        :height => "13",
                        :style => "display:block;",
                        :border => "0"
                      } %></td>
	      <td style="background-color: #a41984; font-family: Arial, sans-serif; text-align: center; font-weight: bold; color: #FFF; text-transform: uppercase;font-size: 18px; padding: 0px 15px 0px 15px; line-height: 23px;">Care Plus Group Newsletter</td>
	      <td><%= absolute_image_tag 'email-title-right.png', {
                        :alt => " ",
                        :width => "31",
                        :height => "13",
                        :style => "display:block;",
                        :border => "0"
                      } %></td>
	      </tr>
    </table></td>
  </tr>
	<tr>
	  <td height="30" colspan="2" align="left" valign="top">&nbsp;</td>
  </tr>
	
	<%= yield %>
	
	<tr>
	  <td colspan="2" align="center" valign="top" style="font-family: Arial, sans-serif; font-size: 22px; line-height: 27px; color: #1b445c; padding-bottom: 7px;">Care Plus Group</td>
  </tr>
	<tr>
	  <td colspan="2" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
	    <tr>
	      <td align="center" valign="middle" style="font-family: Arial, sans-serif; font-size: 11px; line-height: 18px; color: #1b445c;">Freeman Street Resource Centre</td>
				<td align="center" valign="middle" style="padding: 0px 8px 0px 8px;"><%= absolute_image_tag 'email-dot.png', {
                        :alt => " ",
                        :width => "6",
                        :height => "6",
                        :style => "display:block;",
                        :border => "0"
                      } %></td>
	      <td align="center" valign="middle" style="font-family: Arial, sans-serif; font-size: 11px; line-height: 18px; color: #1b445c;">41-43 Kent Street</td>
	      <td align="center" valign="middle" style="padding: 0px 8px 0px 8px;"><%= absolute_image_tag 'email-dot.png', {
                        :alt => " ",
                        :width => "6",
                        :height => "6",
                        :style => "display:block;",
                        :border => "0"
                      } %></td>
	      <td align="center" valign="middle" style="font-family: Arial, sans-serif; font-size: 11px; line-height: 18px; color: #1b445c;">Grimsby</td>
	      <td align="center" valign="middle" style="padding: 0px 8px 0px 8px;"><%= absolute_image_tag 'email-dot.png', {
                        :alt => " ",
                        :width => "6",
                        :height => "6",
                        :style => "display:block;",
                        :border => "0"
                      } %></td>
	      <td align="center" valign="middle" style="font-family: Arial, sans-serif; font-size: 11px; line-height: 18px; color: #1b445c;">North East Lincolnshire</td>
	      <td align="center" valign="middle" style="padding: 0px 8px 0px 8px;"><%= absolute_image_tag 'email-dot.png', {
                        :alt => " ",
                        :width => "6",
                        :height => "6",
                        :style => "display:block;",
                        :border => "0"
                      } %></td>
	      <td align="center" valign="middle" style="font-family: Arial, sans-serif; font-size: 11px; line-height: 18px; color: #1b445c;">DN32 7DH</td>
	      </tr>
    </table></td>
  </tr>
	<tr>
	  <td colspan="2" align="center" valign="top" style="font-family: Arial, sans-serif; font-size: 24px; line-height: 29px; font-weight: bold; color: #1b445c; padding-top: 7px;">01472 266999</td>
  </tr>
	<tr>
	  <td height="25" colspan="2" align="left" valign="top">&nbsp;</td>
  </tr>
</table>

</body>
</html>
